body {
  background: rgb(0, 73, 88);
  background: linear-gradient(
    90deg,
    rgba(0, 73, 88, 1) 0%,
    rgba(0, 161, 194, 1) 49%,
    rgba(0, 73, 88, 1) 100%
  );
}
.App {
  margin-top: 20px;
}
.heading {
  text-align: center;
  font-size: 42px;
}

.content {
  display: flex;
  justify-content: space-between;
}
.makrdown {
  width: 100%;
  height: auto;

  padding: 20px;
}
.textarea {
  width: 95%;
  margin-right: 5px;
  font-size: 22px;
  padding: 20px;
  border-radius: 10px;
  outline: none;
}

.textarea:focus {
  box-shadow: 0px 0px 3px 3px royalblue;
}
.preview {
  width: 95%;
  padding: 20px;
}

#preview {
  padding: 10px;
  color: black;
  text-align: left;
  background-color: white;
  border: 1px solid black;
  box-shadow: 1px 1px 5px 1px gray;
  border-radius: 10px;
}

#preview code {
  background-color: #2d2d2d;
  border-radius: 4px;
  padding: 5px;
}

#preview pre {
  border-radius: 4px;
  background-color: #2d2d2d;
  line-height: 1.8;
  padding: 10px;
}

#preview img {
  width: 100px;
}
